<a href="https://colab.research.google.com/github/alcrepaldi/tera_inferencia/blob/main/inferencia%20corrigida.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
demo = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/DEMO_PHQ.csv')
pag_hei = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/PAG_HEI.csv')

In [7]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5334 entries, 0 to 5333
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      5334 non-null   int64
 1   DPQ010    4836 non-null   float64
 2   DPQ020    4836 non-null   float64
 3   DPQ030    4836 non-null   float64
 4   DPQ040    4836 non-null   float64
 5   DPQ050    4836 non-null   float64
 6   DPQ060    4836 non-null   float64
 7   DPQ070    4836 non-null   float64
 8   DPQ080    4836 non-null   float64
 9   DPQ090    4836 non-null   float64
 10  RIAGENDR  5334 non-null   int64
 11  RIDAGEYR  5334 non-null   int64
 12  RIDRETH1  5334 non-null   int64
 13  DMDEDUC   5334 non-null   int64
 14  INDFMINC  5287 non-null   float64
dtypes: float64(10), int64(5)
memory usage: 625.2 KB

In [8]:
pd_hei.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9424 entries, 0 to 9423
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      9424 non-null   int64
 1   PAG_MINW                  7150 non-null   float64
 2   ADHERENCE                 7150 non-null   float64
 3   HEI2015C1_TOTALVEG        8549 non-null   float64
 4   HEI2015C2_GREEN_AND_BEAN  8549 non-null   float64
 5   HEI2015C3_TOTALFRUIT      8549 non-null   float64
 6   HEI2015C4_WHOLEFRUIT      8549 non-null   float64
 7   HEI2015C5_WHOLEGRAIN      8549 non-null   float64
 8   HEI2015C6_TOTALDAIRY      8549 non-null   float64
 9   HEI2015C7_TOTPROT         8549 non-null   float64
 10  HEI2015C8_SEAPLANT_PROT   8549 non-null   float64
 11  HEI2015C9_FATTYACID       8549 non-null   float64
 12  HEI2015C10_SODIUM         8549 non-null   float64
 13  HEI2015C11_REFINEDGRAIN   8549 non-null   float64
 14  HEI2015C12_SFAT           8549 non-null   float64
 15  HEI2015C13_ADDSUG         8549 non-null   float64
 16  HEI2015_TOTAL_SCORE       8549 non-null   float64
dtypes: float64(16), int64(1)
memory usage: 1.2 MB

In [10]:
db = demo.merge(pag_hei, on = 'SEQN', how = 'left')
db.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5334 entries, 0 to 5333
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SEQN                      5334 non-null   int64
 1   DPQ010                    4836 non-null   float64
 2   DPQ020                    4836 non-null   float64
 3   DPQ030                    4836 non-null   float64
 4   DPQ040                    4836 non-null   float64
 5   DPQ050                    4836 non-null   float64
 6   DPQ060                    4836 non-null   float64
 7   DPQ070                    4836 non-null   float64
 8   DPQ080                    4836 non-null   float64
 9   DPQ090                    4836 non-null   float64
 10  RIAGENDR                  5334 non-null   int64
 11  RIDAGEYR                  5334 non-null   int64
 12  RIDRETH1                  5334 non-null   int64
 13  DMDEDUC                   5334 non-null   int64
 14  INDFMINC                  5287 non-null   float64
 15  PAG_MINW                  5334 non-null   float64
 16  ADHERENCE                 5334 non-null   float64
 17  HEI2015C1_TOTALVEG        5060 non-null   float64
 18  HEI2015C2_GREEN_AND_BEAN  5060 non-null   float64
 19  HEI2015C3_TOTALFRUIT      5060 non-null   float64
 20  HEI2015C4_WHOLEFRUIT      5060 non-null   float64
 21  HEI2015C5_WHOLEGRAIN      5060 non-null   float64
 22  HEI2015C6_TOTALDAIRY      5060 non-null   float64
 23  HEI2015C7_TOTPROT         5060 non-null   float64
 24  HEI2015C8_SEAPLANT_PROT   5060 non-null   float64
 25  HEI2015C9_FATTYACID       5060 non-null   float64
 26  HEI2015C10_SODIUM         5060 non-null   float64
 27  HEI2015C11_REFINEDGRAIN   5060 non-null   float64
 28  HEI2015C12_SFAT           5060 non-null   float64
 29  HEI2015C13_ADDSUG         5060 non-null   float64
 30  HEI2015_TOTAL_SCORE       5060 non-null   float64
dtypes: float64(26), int64(5)
memory usage: 1.3 MB

In [11]:
db.isnull().mean().round(4)*100

SEQN                        0.00
DPQ010                      9.34
DPQ020                      9.34
DPQ030                      9.34
DPQ040                      9.34
DPQ050                      9.34
DPQ060                      9.34
DPQ070                      9.34
DPQ080                      9.34
DPQ090                      9.34
RIAGENDR                    0.00
RIDAGEYR                    0.00
RIDRETH1                    0.00
DMDEDUC                     0.00
INDFMINC                    0.88
PAG_MINW                    0.00
ADHERENCE                   0.00
HEI2015C1_TOTALVEG          5.14
HEI2015C2_GREEN_AND_BEAN    5.14
HEI2015C3_TOTALFRUIT        5.14
HEI2015C4_WHOLEFRUIT        5.14
HEI2015C5_WHOLEGRAIN        5.14
HEI2015C6_TOTALDAIRY        5.14
HEI2015C7_TOTPROT           5.14
HEI2015C8_SEAPLANT_PROT     5.14
HEI2015C9_FATTYACID         5.14
HEI2015C10_SODIUM           5.14
HEI2015C11_REFINEDGRAIN     5.14
HEI2015C12_SFAT             5.14
HEI2015C13_ADDSUG           5.14
HEI2015_TOTAL_SCORE         5.14
dtype: float64

In [14]:
db.drop(columns=['SEQN']).describe(percentiles = [.25, .5, .75, .95, .99]).round(2)

        DPQ010   DPQ020  ...  HEI2015C13_ADDSUG  HEI2015_TOTAL_SCORE
count  4836.00  4836.00  ...            5060.00              5060.00
mean      0.31     0.31  ...               6.22                49.97
std       0.76     0.71  ...               3.33                12.32
min       0.00     0.00  ...               0.00                16.06
25%       0.00     0.00  ...               3.72                41.03
50%       0.00     0.00  ...               6.86                49.51
75%       0.00     0.00  ...               9.45                58.17
95%       2.00     2.00  ...              10.00                71.19
99%       3.00     3.00  ...              10.00                79.86
max       9.00     9.00  ...              10.00                89.53

[10 rows x 30 columns]